In [2]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [3]:
cosine_similarity([[3,1]],[[6,2]])

array([[1.]])

In [4]:
cosine_similarity([[3,0]],[[0,8]])

array([[0.]])

In [5]:
cosine_similarity([[3,1]],[[3,2]])

array([[0.96476382]])

In [6]:
import pandas as pd

df = pd.DataFrame([
        {'iPhone': 3,'galaxy': 1},
        {'iPhone': 2,'galaxy': 0},
        {'iPhone': 1,'galaxy': 3},
        {'iPhone': 1,'galaxy': 2},
    ],
    index=[
        "doc1",
        "doc2",
        "doc3",
        "doc4"
    ])

df

      iPhone  galaxy
doc1       3       1
doc2       2       0
doc3       1       3
doc4       1       2

In [7]:
df.loc["doc1":"doc1"]

      iPhone  galaxy
doc1       3       1

In [8]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"])

array([[0.9486833]])

In [9]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc3":"doc3"])

array([[0.6]])

In [10]:
cosine_similarity(df.loc["doc3":"doc3"],df.loc["doc4":"doc4"])

array([[0.98994949]])

In [11]:
cosine_distances(df.loc["doc1":"doc1"],df.loc["doc4":"doc4"])

array([[0.29289322]])